extends layout

block content
	h1 CutrePaint
	.button(id='button') Create new room

block scripts
	script(type='text/javascript').
		(function() {
			var btn = document.getElementById('button');
			btn.addEventListener('click', function() {
				location.href='/new';
			});
		})();