doctype 5
html
  head
    title CutrePaint
    link(rel='stylesheet', href='/css/style.css')
  body
    block content
    script(type='text/javascript', src='/js/socket/socket.io.min.js')
    script(type='text/javascript', src='/js/main.js')