extends layout

block css
	link(rel='stylesheet', href='/css/paint.css')

block content
	canvas(id='canvas')

block scripts
	script(type='text/javascript', src='/js/socket/socket.io.min.js')
	script(type='text/javascript', src='/js/main.js')